name: Deploy to Cloud Run

on:
  workflow_call:
    inputs:
      gcp_region:
        required: true
        type: string
      service_name:
        required: true
        type: string
      image_url:
        required: true
        type: string
    secrets:
      gcp_project_id:
        required: true
      gcp_workload_identity_provider:
        required: true
      gcp_service_account:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: "google-github-actions/auth@v2"
        with:
          workload_identity_provider: ${{ secrets.gcp_workload_identity_provider }}
          service_account: ${{ secrets.gcp_service_account }}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: ${{ inputs.service_name }}
          region: ${{ inputs.gcp_region }}
          image: ${{ inputs.image_url }}
          flags: --memory=512Mi
